body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #6b7c93;
  padding: 3em;
}

h1, h2, h3, h4, h5, h6 {
  color: #32325d;
  text-transform: uppercase;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  font-weight: 100;
  text-transform: none;
}

h1 {
  margin-top: 0;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

input {
  width: 100%;
  padding: 1em;
  font-size: 1.15em;
  border: 1px solid #32325d;
  margin-bottom: 1em;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.input-cvc,
.input-date {
  width: 33%;
  display: inline-block;
}


::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  font-family: 'Montserrat', sans-serif;
}

button,
.button {
  width: 100%;
  height: 4em;
  background-color: #32325d;
  color: white;
  padding: 1.25em;
  border-radius: .3em;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  margin: 2em auto;
  font-size: 1.1em;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

.navbar {
	position: absolute;
	top:0;
	left: 0;
	text-align: left;
	padding: 1em;
  width: 100%;
}

.navbar-home {
  text-align: right;
}

.logout-button {
  font-size: 1.5em;
}

.big-button {
  border: 0px;
	-moz-box-shadow: 14px 14px 24px -7px #a1a1f0;
	-webkit-box-shadow: 14px 14px 24px -7px #a1a1f0;
	box-shadow: 14px 14px 24px -7px #a1a1f0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fcbf8c), color-stop(1, #ed96fa));
	background:-moz-linear-gradient(top, #fcbf8c 5%, #ed96fa 100%);
	background:-webkit-linear-gradient(top, #fcbf8c 5%, #ed96fa 100%);
	background:-o-linear-gradient(top, #fcbf8c 5%, #ed96fa 100%);
	background:-ms-linear-gradient(top, #fcbf8c 5%, #ed96fa 100%);
	background:linear-gradient(to bottom, #fcbf8c 5%, #ed96fa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcbf8c', endColorstr='#ed96fa',GradientType=0);
	background-color:#fcbf8c;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 0px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;
  margin: 0 auto 1.5em auto;
}
.big-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ed96fa), color-stop(1, #fcbf8c));
	background:-moz-linear-gradient(top, #ed96fa 5%, #fcbf8c 100%);
	background:-webkit-linear-gradient(top, #ed96fa 5%, #fcbf8c 100%);
	background:-o-linear-gradient(top, #ed96fa 5%, #fcbf8c 100%);
	background:-ms-linear-gradient(top, #ed96fa 5%, #fcbf8c 100%);
	background:linear-gradient(to bottom, #ed96fa 5%, #fcbf8c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed96fa', endColorstr='#fcbf8c',GradientType=0);
	background-color:#ed96fa;
}
.big-button:active {
	position:relative;
	top:1px;
}

.input-box {
  width: 5em;
  margin: 0 auto;
}

.drop-down-menu {
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  padding: 1.15em;
  font-size: 1.1em;
  border: 1px solid #32325d;
  margin-bottom: 1em;
  background-color: white;
  background: url(../images/drop-down-arrow.png) no-repeat right white;
  background-size: contain;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  max-width: 125px;
  height: auto;
  margin: 0px auto;
}
